.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.label {
    font-size: 15px;
}

.input {
    width: 200px;
    height: 38px;
    margin-left: 20px;
}